<%- include("../partials/header") %>
    <div> <a href="/" class="btn btn-primary ml-3">Home</a> </div>
    <br>
    <div></div><a href="http://localhost:3000/user/add"><button type="button">Add user</button></a><div>
    <table class="table" border="0" cellpadding="0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Address</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
        <% if(data.length){
            for(var i = 0; i< data.length; i++) {%>
            <tr>
                <th scope="row">
                    <%= (i+1) %>
                </th>
                <td>
                    <%= data[i].firstname%>
                </td>
                <td>
                    <%= data[i].lastname%>
                </td>
                <td>
                    <%= data[i].address%>
                </td>
                <td>
                    <%= data[i].type%>
                </td>
                <td Align="Right"> 
                    <a class="btn btn-success edit" href="../user/edit/<%= data[i]._id%>"><button type="button">Edit</button></a>&nbsp 
                    <a class="btn btn-success edit" href="../user/delete/<%= data[i]._id%>"><button type="button">Delete</button></a> 
                </td>
            </tr>
            <% }
        }else{ %>
        <tr>
            <td colspan="4">No users</td>
        </tr>
        <% } %>
        </tbody>
    </table>
<%- include("../partials/footer") %>