<%- include("../partials/header_user") %>
            <%- include("../partials/heading") %>
            <table class="class_table">
                <thead>
                    <tr class="class_tr">
                        <th class="class_th" scope="col">#</th>
                        <th class="class_th" scope="col">First Name</th>
                        <th class="class_th" scope="col">Last Name</th>
                        <th class="class_th" scope="col">Address</th>
                        <th class="class_th" scope="col">Type</th>
                        <th class="class_th" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                <% if(data.length){
                    for(var i = 0; i< data.length; i++) {
                        if(userType == "All" || data[i].type == userType){ 
                        %>
                    <tr class="class_tr">
                        <td class="class_td" scope="row">
                            <%= (i+1) %>
                        </td>
                        <td class="class_td">
                            <%= data[i].firstname%>
                        </td>
                        <td class="class_td">
                            <%= data[i].lastname%>
                        </td>
                        <td class="class_td">
                            <%= data[i].address%>
                        </td>
                        <td class="class_td">
                            <%= data[i].type%>
                        </td>
                        <td  class="class_td" Align="Right"> 
                            <a class="btn btn-success edit" href="../user/edit/<%= data[i]._id%>"><img class="image_button_small" src="http://localhost:3000/images/edit.png" title="Edit"></a>&nbsp 
                            <a class="btn btn-success edit" href="../user/delete/<%= data[i]._id%>"><img class="image_button_small" src="http://localhost:3000/images/delete.png" title="Delete"></a>&nbsp
                            <% if( !title.startsWith('All')){ %> 
                            <a class="btn btn-success edit" href="../user/assign/<%= data[i]._id%>"><img class="image_button_small" src="http://localhost:3000/images/assign.png" title="Assign"></a>
                            <% } %>
                        </td>
                    </tr>
                    <% }}
                }else{ %>
                <tr class="class_tr">
                    <td class="class_td" colspan="4">No users</td>
                </tr>
                <% } %>
                </tbody>
            </table>
            <%- include("../partials/copyright") %>
<%- include("../partials/footer_page") %>