<%- include("../partials/header_laptop") %>
            <%- include("../partials/heading") %>
            <table class="class_table" border="0" cellpadding="0">
                <thead>
                    <tr class="class_tr">
                        <th class="class_th" scope="col">#</th>
                        <th class="class_th" scope="col">Model</th>
                        <th class="class_th" scope="col">Manufacturer</th>
                        <th class="class_th" scope="col">CPU</th>
                        <th class="class_th" scope="col">Disk Size</th>
                        <th class="class_th" scope="col">Memory</th>
                        <th class="class_th" scope="col">Usage</th>
                        <th class="class_th" scope="col">Status</th>
                        <th class="class_th" width="200px">Action</th>
                    </tr>
                </thead>
                <tbody>
                <% if(data.length){
                    for(var i = 0; i< data.length; i++) {%>
                    <tr class="class_tr">
                        <td class="class_td" scope="row">
                            <%= (i+1) %>
                        </td>
                        <td class="class_td">
                            <%= data[i].model%>
                        </td>
                        <td class="class_td">
                            <%= data[i].manufacturer%>
                        </td>
                        <td class="class_td">
                            <%= data[i].cpu%>
                        </td>
                        <td class="class_td">
                            <%= data[i].disk%>
                        </td>
                        <td class="class_td">
                            <%= data[i].memory%>
                        </td>
                        <td class="class_td">
                            <%= data[i].usage%>
                        </td>
                        <td class="class_td">
                            <%= data[i].status%>
                        </td>
                        <td class="class_td" Align="Right"> 
                            <a class="btn btn-success edit" href="../laptop/assign/<%= data[i]._id%>/<%= user%>"><img class="image_button_small" src="http://localhost:3000/images/confirm.png" title="Confirm"></a> 
                        </td>
                    </tr>
                    <% }
                }else{ %>
                <tr class="class_tr">
                    <td class="class_td" colspan="8">No laptops</td>
                </tr>
                <% } %>
                </tbody>
            </table>
            <%- include("../partials/copyright") %>
<%- include("../partials/footer_page") %>